<div class="parent">
    <div class="child" >
        <form>
            <div class="form-group">
              <label for="accountno">Enter Account Number</label>
              <input type="number" class="form-control" id="accountno"  placeholder="Enter Account number">
            </div>
            <div class="form-group">
              <label for="amount">Enter Amount</label>
              <input type="number" class="form-control" id="amount" placeholder="Enter Amount">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">withdraw</button>
          </form>
    </div>
</div>
