     <main class="main">
        <aside class="sidebar">
          <nav class="nav">
            <ul>
              <li class="active"><a href="#">Account Details</a></li>
              <li><a href="#">Account Transfer</a></li>
              <li><a href="#">Withdraw</a></li>
              <li><a href="#">Add Money</a></li>
            </ul>
          </nav>
        </aside>
      
        <section class="twitter">
          <div class="container">
            <a target="_blank" href="https://twitter.com/ReisnerShawn">
              <img class="social" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
            </a>
            <p>Follow me</p>
            <p>on Twitter!</p>
          </div>
        </section>
      </main>